.project-card{
    border: 1px inset rgb(145, 138, 138);
    outline-style: inset;
    outline-color: rgb(177, 177, 177);
    outline-width: thin;
    width: 30rem;
    height: 35rem;
    font-weight: initial;
    color: black;
}
.project-card:hover{

    background-color: rgba(211, 211, 211, 0.459);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.253)!important;
}

.card-body {
    padding: 3rem 0 !important;
}

.overflow{
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.5s;
}

.card-img-top:hover{
    transform: scale(1.1);
}