/* .card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5%;
  width: 100%;
  height: auto;
} */
/* .container{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 1px;
  margin-right: 1px;
  align-items: center;
} */
.jumbotron {
  background-color: rgba(11, 12, 12, 0);
  width: 50rem;
  padding: 4px;
  inline-size: inherit;
}

.card-text {
  font-size: 17px;
}

.card {
  background-color: transparent;
  padding: 0%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.list-inline-item {
  font-size: 40px;
}

.aboutMe {
  font-family: "Long Cang", cursive;
}

.previousWork {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Long Cang", cursive;
  text-decoration: overline;
}
.projectsRow{
  background-color: silver;
}