

.cardPicture{
    width: 20rem;
    border: 1px inset rgb(145, 138, 138);
    outline-style: inset;
    outline-color: rgb(177, 177, 177);
    outline-width: thin;
    padding: 5px;
}

.cardContact{
    width: 18rem;
    padding: 4px;
}

.jumbotron{
    background-color: rgba(11, 12, 12, 0);
    width: 45rem;
    padding: 4px;
    
}


