.navbar{
    text-align: center;
    display: inline-block;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.navbar-brand{
    color: aliceblue;
    font-size: xx-large;
}

.nav-link{
    color: aliceblue;
    font-size: x-large;
}