.navbar {
  text-align: center;
  display: inline-flex;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  /* this is for the sticky navbar buttons, needs some work */
  /*         position: sticky;
        position: 0; */
}

.navbar-brand {
  color: aliceblue;
  font-size: xx-large;
}

.nav-link {
  color: aliceblue;
  font-size: x-large;
}
