
.App {
  text-align: center;
  background-image: url("https://www.desktopbackground.org/p/2012/08/12/435416_download-wallpapers-2048x2048-lines-dots-pattern-backgrounds_2048x2048_h.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  color: aliceblue;
  padding-left: 5%;
  padding-right: 5%;
}




